<% content_for :header do -%> <%= t("site.t_dashboard") %> <% end -%>


<% content_for :sidebar do -%>

	<h2><%= t("course.new") %></h2>
	<ul><li><%= render 'courses/form' %></li></ul>
	
<% end -%>

<h2><%= t("course.list") %></h2>

<table class="index">
  <tr>
	<th><%= t('course.code')%></th>
	<th><%= t('course.type')%></th>
	<th><%= t('g.name')%></th>
	<th><%= t('g.desc')%></th>
	<th><%= t('g.admin')%></th>
  </tr>

  <% for c in current_user.courses %>
  <tr><td><%= c.ccode %></td>
      <td><%= t("course.types")[c.ctype][0] %></td>
      <td><%= link_to c.title, course_path(c) %></td>
      <td><%= c.description %></td>
      <td align=right>
		<%= link_to t("g.edit"),edit_course_path(c) %> | 
		<%= link_to_d course_path(c) %>
  </td></tr>
  <% end %>
</table>
<p></p>
<h2><%= t("class.list") %></h2>
<table class="index">
  <%= th([t('admin.orgs.grade'),t('class.name'),t('class.s_count'),t('class.course')])%>

  <% for sclass in current_user.sclasses %>
		<tr>
		  <td><%= sclass.grade.name %></td>
		  <td><%= link_to sclass.name, sclass_path(sclass,:by=>"show_member")  %></td>
		  <td><%= sclass.students.count %></td>
		  <td><% for c in sclass.courses %>
			       <%= link_to c.title,course_path(c.id) %><br>	
		      <% end unless sclass.courses.nil? %>
		  </td>
	    </tr>  
  <% end %>
</table>



