<% content_for :header do -%><%= @sclass.name %> - <%= current_user.site_name %><% end -%>

<% content_for :sidebar do -%>	
	<h2><%= t("course.list") %></h2>
	<ul>
		<li><%= link_to t("chapter.uncheckin"),scourses_path %></li>
		<li><%= link_to t("course.current"),scourses_path %></li>
 		<li><%= link_to t("course.closed") ,scourses_path(:by=>"show_closed") %></li>
    </ul>
<% end -%>

<table class="index">
  <tr>
	<th><%= t('course.title')%></th>
	<th><%= t('chapter.and_exam')%></th>
	<th><%= t('chapter.status')%></th>
	<th><%= t('g.admin')%></th>
  </tr>
  
  <% for chapter in @chapters %> 
	<% course=chapter.course %> 
	<% status=chapter.user_status(current_user.id) %> 
	<tr><td><%= course.ccode+":"+course.title %></td>
		<td><%= chapter.cpcode+":"+chapter.title %></td>
		<td><%= t("chapter.statuses")[status] %></td>
		<td align=right>
		  <% if status==0 %>
			<%= link_to t("chapter.checkin"),scourses_path(:by=>"chapter",:id=>chapter.id),:method=>:post %>
		  <% elsif status==1 %>
			<%= link_to t("chapter.enter") ,scourse_path(chapter.id,:by=>"chapter") %> | 
			<%= link_to t("chapter.finish"),scourse_path(chapter.id,:by=>"chapter"),:method=>:put %>
		  <% else  %>
			<%= link_to t("chapter.view"),scourses_path %>
		  <% end  %>
		</td>
	</tr>
    <% for cexam in chapter.cexams %> 
	<% status1=cexam.user_status(current_user.id) %> 
		<tr><td></td>
			<td>- <%= cexam.name %></td>
			<td><%= t("chapter.statuses")[status1] %></td>
			<td align=right>
			<% if status1==0 %>
				<%= link_to t("chapter.checkin"),scourses_path(:by=>"cexam",:id=>cexam.id),:method=>:post %>
			<% elsif status==1  %>
				<%= link_to t("chapter.enter"),scourse_path(cexam.id,:by=>"cexam") %> | 
				<%= link_to t("chapter.finish"),scourse_path(cexam.id,:by=>"cexam") %>
			<% else  %>
				<%= link_to t("chapter.view"),scourses_path %>
			<% end  %>
			</td>
		</tr>
    <% end %> 
  <% end %> 
</table>
