<% content_for :header do -%>
   <%= @sclass.name %> - <%= @course.title %>-<%= @chapter.title%>
<% end -%>

<% content_for :sidebar do -%>
   <h2><%= t("chapter.new") %></h2>
    
<% end -%>

<table class="index">
  <tr>
	<th><%= t('classh.student')%></th>
	<th><%= t('general.status')%></th>
  </tr>

  <% for student in @sclass.students
	  cu = Mlink.one(@chapter.id,student.user_id,Mlink::T_CHAPTER_USER)
	  if cu.nil?
		 status=0
		 stime=""
	  else
		 status = cu.status
		 stime=""
	  end %>
	  <tr><td><%= student.username %>(<%= student.user.login %>)</td>
		  <td><%= t("chapter.statuses")[status] %><%= stime %></td>
	  </tr>
  <% end %>
</table>

<p>
<%= link_to t('general.back'), tcourse_path(@course,:by=>"course",:sclass=>@sclass.id) %>

