<% content_for :header do -%>  <%= t("site.s_dashboard") %><% end -%>

<% content_for :sidebar do -%>
	<h2><%= t("site.sidebar") %></h2>
	<ul>
		<li><%= link_to t("site.needhelp"), "#" %></li>
		<% if logged_in? %>	
			<li><%= link_to t('session.log_out'), destroy_user_session_path %></li>
		<% end -%>
	</ul>
<% end -%>

<h2><%= t("course.list") %></h2>
<table class="index">
  <tr>
	<th><%= t('course.code')%></th>
	<th><%= t('course.name')%></th>
	<th><%= t('course.chapter')%></th>
	<th><%= t('course.finished')%></th>
	<th><%= t('course.score')%></th>
	<th><%= t('general.admin')%></th>
  </tr>
  
  <% for course in @courses %> 
  <tr><td></td>
	  <td><%= link_to course.coursename,course_path(course.course_id) %></td>
      <td></td>
      <td></td>
      <td align=right></td>
  </tr>
  <% end %> 
</table>


