<% content_for :header do -%> <%= @student.login %> - <%= @student.name %> <% end -%>

<% content_for :sidebar do -%>

	<h2><%= t("genral.sidebar") %></h2>
<% end -%>



<table class="index">
  <tr>
	<th><%= t('course.code')%></th>
	<th><%= t('course.name')%></th>
	<th><%= t('course.chapter')%></th>
	<th><%= t('course.finished')%></th>
	<th><%= t('course.score')%></th>
	<th><%= t('general.admin')%></th>
  </tr>
  
  <% for course in @courses %> 
  <tr><td></td>
	  <td><%= link_to course.coursename,course_path(course.course_id) %></td>
      <td></td>
      <td></td>
      <td align=right></td>
  </tr>
  <% end %> 
</table>

<%= link_to t('general.back'), admin_orgs_path %>
