<% content_for :header do -%> <%= t('admin.orgs.edit_grade') %> <% end -%>

<% content_for :sidebar do -%>
   <%= render "admin/shared/error_messages", :target => @grade%>
    
   <h2><%= t("admin.orgs.new_class") %></h2>
   <ul><li><%= render ("form_class") %></li></ul>    
<% end -%>

<%= render 'form_grade',:locals => {:ftype => 1}  %>

<%= link_to(t('general.back'), list_grade_admin_orgs_path) %>
