<% content_for :header do -%>
<%= t("admin.orgs.title") %>
<% end -%>

<% content_for :sidebar do -%>
   <h2><%= t("admin.orgs.school") %></h2>
   <ul>
		<li><%= link_to t('admin.orgs.edit_school'), admin_users_url %></li>
   </ul>

   <h2><%= t("admin.orgs.grade") %></h2>
   <ul>
		<li><%= link_to t('admin.orgs.grade_list'), active_admin_users_url %></li>
	
   </ul>

   <h2><%= t("admin.orgs.class") %></h2>
   <ul>
		<li><%= link_to t('admin.orgs.class_list'), active_admin_users_url %></li>
   </ul>
<% end -%>

<h3>Introduction</h3>

