<% content_for :header do -%>
<%= t("admin.orgs.title") %>
<% end -%>

<% content_for :sidebar do -%>
   <h2><%= t("admin.orgs.school") %></h2>
   <ul>
		<li><%= link_to t('admin.orgs.edit_school'), edit_school_admin_orgs_url %></li>
		<li><%= link_to t('admin.orgs.grade_list'), list_grade_admin_orgs_url %></li>
   </ul>

   <h2><%= t("admin.orgs.new_grade") %></h2>
   <ul><li><%= render 'form_grade' %></li></ul>

   <h2><%= t("admin.orgs.new_class") %></h2>
   <ul>
		<li><%= form_for(@sclass,:url => add_class_admin_orgs_path) do |f| %>
				<%= f.error_messages %>
				<table >
					<%= cell(t("general.name"), (f.text_field :name))%>
					<%= cell(t("general.desc"), (f.text_area :description, :rows =>4,:cols=>28))%>
					<%= cell("", (submit_tag t('admin.orgs.create_class')))%>
				</table>
			<% end %>
		</li>
   </ul>
<% end -%>

<h3><%= @school.name %></h3>
<%= @school.description %><br>
<%= t("admin.orgs.address")+":"+ @school.address %><hr>
<h3>年级/班级：</h3>
