<% content_for :header do -%>
	<%= t('admin.announcements.title')%>
<% end -%>

<% content_for :sidebar do -%>
	<h2><%= t("admin.announcements.new") %></h2>
	
	<%= simple_form_for(@announcement,:url => admin_announcements_path ) do |f| %>
		<%= render :partial => 'form', :locals => {:f => f}%>
	<% end -%>
	
<% end -%>

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.announcement.headline')%></th>
    <th><%= t('activerecord.attributes.announcement.message')%></th>
    <th><%= t('activerecord.attributes.announcement.starts_at')%></th>
    <th><%= t('activerecord.attributes.announcement.ends_at')%></th>
  </tr>

<% @announcements.each do |announcement| %>
  <tr>
    <td><%=h announcement.headline %></td>
    <td><%=h announcement.message %></td>
    <td><%=h announcement.starts_at %></td>
    <td><%=h announcement.ends_at %></td>
    <td><%= link_to t('manage.show'), admin_announcement_path(announcement) %></td>
    <td><%= link_to t('manage.edit'), edit_admin_announcement_path(announcement) %></td>
    <td><%= link_to t('manage.destroy'), admin_announcement_path(announcement), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
