<ul data-role="listview" data-theme="g">
<% for cp in current_user.schapters %>
	<li data-role="list-divider"><%= cp.course.title %> : <%= cp.cpcode %> - <%= cp.title %></li>
	<li><%= link_to t("class.enter_chapter"),ipad_scourses_path(:show=>"chapter",:chapter=>cp.id),:remote=>true %></li>
	<% for ce in cp.cexams %>
		<li><%= link_to t("class.enter_cexam")+" - "+ce.name,ipad_scourses_path(:show=>"cexam",:cexam=>ce.id),:remote=>true %></li>
	<% end %>
<% end %>
</ul>
