<% content_for :header do -%><%= t("class.admin") %><% end -%>

<% content_for :sidebar do -%>
  <h2><%= t("g.title") %></h2>
<% end -%>

<table class="index">
  <%= th([t('admin.orgs.grade'),t('class.name'),t('class.s_count'),t('class.course'),t('class.course')]) %></th>
  <% for s in current_user.sclasses %>
	<tr id="tr_s_<%=s.id %>">
	<%= render(:partial=>"tr_s",:locals => { :courses=>current_user.courses,:sclass=>s }) %>
	</tr>
  <% end %>
</table>