<% content_for :header do -%><%= t("class.admin") %><% end -%>

<% content_for :sidebar do -%>

   <h2><%= t("operate.title") %></h2>
   
<% end -%>

<table class="index">
  <tr>
	<th><%= t('admin.orgs.grade')%></th>
	<th><%= t('class.name')%></th>
	<th><%= t('class.s_count')%></th>
	<th><%= t('class.course')%></th>
  </tr>

  <% for sclass in current_user.sclasses.order(:sclassname) %>
  <tr>
	<td><%= sclass.grade.name %></td>
	<td><%= link_to sclass.sclassname, sclass_path(sclass.sclass_id,:by=>"show_member")  %></td>
	<td><%= sclass.s_count %></td>
	<td><% for course in sclass.courses %>
		<%= link_to course.coursename,course_path(course.course_id) %><br>	
	<% end %></td>
 </tr>  
  <% end %>
</table>


