<% content_for :header do -%><%= t("class.admin") %><% end -%>

<% content_for :sidebar do -%>

   <h2><%= t("operate.title") %></h2>
   
<% end -%>

<table class="index">
  <tr>
	<th><%= t('admin.orgs.grade')%></th>
	<th><%= t('class.name')%></th>
	<th><%= t('class.s_count')%></th>
	<th><%= t('general.admin')%></th>
  </tr>

  <% for sclass in current_user.sclasses %>
  <tr>
	<td><%= sclass.grade.name %></td>
	<td><%= sclass.sclassname %></td>
	<td><%= sclass.s_count %></td>
	<td class="actions">
		<%= link_to t('class.member'), sclass_path(sclass.sclass_id,:by=>"show_member") %> | 
		<%= link_to t('class.course'), sclass_path(sclass.sclass_id,:by=>"show_course") %>
	</td>
  </tr>  
  <% end %>
</table>


