<% content_for :header do -%> <%= t('admin.orgs.class')%> - <%= @sclass.name %> <% end -%>

<% content_for :sidebar do -%>
   <% if @sclass.teachers.count>0 %>
   <h2><%= t("admin.orgs.teacher_list") %></h2>
   <ul><% for t in @sclass.teachers %>
      <li><%= t.username %>
		  <%= link_to_dx sclass_path(@sclass,:by=>"remove_teacher",:user_id=>teacher.user_id) if t.ltype==1 %></li>
   <% end -%></ul>
   <% end -%>

   
	<h2><%= t("course.list") %></h2>
   	<ul><% for c in @sclass.courses %>
	  	<li><%= link_to c.title,course_path(c) %>
			<%= link_to_dx sclass_path(@sclass,:by=>"remove_course",:course_id=>c.id) %></li>
 	<% end %></ul>
	
<% end -%>

<table class="index">
  <tr>
	<th><%= t('admin.users.ID')%></th>
	<th><%= t('class.student')%></th>
	<th><%= t('class.course')%></th>
	<th><%= t('g.admin')%></th>
  </tr>
  
  <% icount=@sclass.students.count
     i1=1
     i=0
  %>

  <% for s in @sclass.students %>
  <tr><td><%= s.user_id %></td>
	  <td><%= s.username %> (<%= s.user.login %>)</td>
      <td><% for c in @sclass.courses %>
	  	   <%= link_to c.title,user_path(s.user_id,:course=>c.id)  %><br>
		  <% end %>
	  </td>
      <td align=right><%= link_to t("class.score_record"),user_path(s.user_id) %></td>
  </tr>
  <% end %>
</table>

<%= link_to t('g.back'), sclasses_path %>
