<%
    stitle = @course.id.nil? ? stitle = t('course.create'):t('course.update')
-%>

<%= form_for @course do |f| %>
<%= f.error_messages %>
<table >
    <%= cell(t("course.code"),  (f.text_field :ccode))%>
    <%= cell(t("course.name"), (f.text_field :title))%>
    <%
    #cell(t("course.ctype"), (f.select(:ctype, C::COURSE_TYPE)))
    %>
    <%= cell(t("course.type"), (f.select(:ctype, t("course.types")))) %>
    <%= cell(t("g.desc"), (f.text_area :description,:rows=>3,:cols=>24))%>

    <%= cell("", (submit_tag stitle))%>
</table>
<% end %>
