<% content_for :header do -%><%= t("course.admin") %><% end -%>

<% content_for :sidebar do -%>	
	<h2><%= t("course.new") %></h2>
	<ul><li><%= render 'courses/form' %></li></ul>
<% end -%>

<table class="index">
  <tr>
	<th><%= t('course.code')%></th>
	<th><%= t('course.type')%></th>
	<th><%= t('g.name')%></th>
	<th><%= t('course.class')%></th>
	<th><%= t('class.forselect')%></th>
	<th><%= t('g.admin')%></th>
  </tr>

  <% sclasses= current_user.sclasses %>
  <% for c in current_user.courses %>
  <tr><td><%= c.ccode %></td>
      <td><%= t("course.types")[c.ctype][0] %></td>
      <td><%= link_to c.title, course_path(c) %></td>
	  <td><% sin=""
			 for s in c.sclasses
				sin+=","+s.id2.to_s %>
				<%= link_to s.name2,tcourse_path(c,:by=>"course",:sclass=>s.id2) %>
				<%= link_to_dx course_path(c,:by=>"remove_class1",:sclass=>s.id2) %><br>	 
			<% end %></td>
	  <td><% for s in sclasses
				unless sin.include?(","+s.id.to_s) %>
					<%= link_to s.name, course_path(c,:by=>"add_class1",:sclass=>s.id),:method=>:put %><br>
				<% end -%>
			<% end -%></td>
	  <td align=right>
		  <%= link_to t("g.edit"),edit_course_path(c) %> |  <%= link_to_d course_path(c) %>
	  </td></tr>
  <% end %>
</table>

