<% content_for :header do -%><%= t("course.admin") %><% end -%>

<% content_for :sidebar do -%>	
	<h2><%= t("course.new") %></h2>
	<ul><li><%= render 'courses/form' %></li></ul>
<% end -%>

<table class="index">
  <tr>
	<th><%= t('course.code')%></th>
	<th><%= t('course.type')%></th>
	<th><%= t('g.name')%></th>
	<th><%= t('course.class')%></th>
	<th><%= t('g.admin')%></th>
  </tr>

  <% for ucourse in current_user.courses %>
  <tr><td><%= ucourse.course.ccode %></td>
      <td><%= t("course.types")[ucourse.course.ctype][0] %></td>
      <td><%= link_to ucourse.coursename, course_path(ucourse.course_id) %></td>
	  <td><% for sclass in ucourse.sclasses %>
			<%= link_to sclass.linkname,tcourse_path(ucourse.course_id,:by=>"course",:sclass=>sclass.link_id) %><br>	
	  <% end %></td>
	  <td align=right>
		  <%= link_to t("g.edit"),edit_course_path(ucourse.course_id) %> | 
		  <%= link_to t("g.delete"),course_path(ucourse.course_id),:method=>:delete,:confirm=>t("phrase.are_you_sure") %>
	  </td></tr>
  <% end %>
</table>





