<% content_for :header do -%><%= t("course.admin") %><% end -%>

<% content_for :sidebar do -%>	
	<h2><%= t("course.new") %></h2>
	<ul><li><%= render 'courses/form' %></li></ul>
<% end -%>

<table class="index">
  <%=raw th([t('course.code')+"-"+t('g.name'), t('course.type'),t('course.class'),t('class.forselect'),t('g.admin')]) %>

  <% for c in current_user.courses %>
	<tr id="tr_c_<%=c.id %>">
	<%= render(:partial=>"tr_c",:locals => { :sclasses=>current_user.sclasses,:c=>c }) %>
	</tr>
  <% end %>
</table>

