<% content_for :header do -%><%= t("course.admin") %> - <%= @course.title %> <% end -%>

<% content_for :sidebar do -%>
   <h2><%= t("chapter.new") %></h2>
   <ul><li><%= render ("chapters/form") %></li></ul>

   <h2><%= t("course.teacher") %></h2>
   <ul>
      <% for teacher in @course.teachers %>
		 <li><%= teacher.linkname %>
		 <% if teacher.ltype==1 %>
			[<%= link_to "x",course_path(@course,:by=>"remove_teacher",:teacher=>teacher.link_id),:method=>:delete,:confirm=>t("phrase.are_you_sure") %>] 	 
		 <% end -%>
		 </li>
	  <% end -%>
      <li><%= render ("form_teacher") %></li>
   </ul>    

   <h2><%= t("course.class") %></h2>
   <ul>
      <% for sclass in @course.sclasses.order("linkname") %>
		 <li><%= sclass.linkname %>
			[<%= link_to "x",course_path(@course,:by=>"remove_class",:sclass=>sclass.link_id),:method=>:delete,:confirm=>t("phrase.are_you_sure") %>] 	 
		 </li>
	  <% end -%>
      <li><%= render ("form_class") %></li>
   </li></ul>    

<% end -%>

<table class="index">
  <tr>
	<th><%= t('chapter.code')%></th>
	<th><%= t('g.title')%></th>
	<th><%= t('chapter.exam')%></th>
	<th><%= t('chapter.class1')%></th>
	<th><%= t('chapter.class2')%></th>
	<th><%= t('g.admin')%></th>
  </tr>

  <% sclasses=@course.sclasses %>
  <% for chapter in @course.chapters %>
  <% s1="0" %>
  <tr><td><%= chapter.cpcode %></td>
      <td><%= chapter.title %></td>
      <td><% for cexam in chapter.cexams %>
	    <%= link_to cexam.name,edit_cexam_path(cexam) %><br>
	  <% end %> 
      </td>
      <td><% for sclass1 in chapter.sclasses %>
	      <%  s1+=","+sclass1.link_id.to_s %>
	      <%= link_to sclass1.linkname,tcourse_path(@course,:by=>"course",:sclass=>sclass1.link_id) %> 
	      <%= link_to_dx chapter_path(chapter,:by=>"remove_class",:sclass=>sclass1.link_id) %>
		<br>
	  <% end %> 
      </td>
      <td><% for sclass2 in sclasses.where(" link_id not in("+s1+")").order("linkname") %>
		  <%= link_to sclass2.linkname,chapter_path(chapter,:by=>"add_class",:sclass=>sclass2.link_id),:method=>:put %><br>
		  <% end %> 
	  </td>
      <td align=right>
	  <%= link_to t("g.edit"),edit_chapter_path(chapter) %> | 
	  <%= link_to_d chapter %>
  </td></tr>
  <% end %>
</table>


<%= link_to t('g.back'), root_path %> | 
<%= link_to t('g.edit'), root_path %>