<% content_for :header do -%><%= t("course.admin") %> - <%= @course.title %> <% end -%>

<% content_for :sidebar do -%>
   <h2><%= t("chapter.new") %></h2>
   <ul><li><%= render ("chapters/form") %></li></ul>

   <h2><%= t("course.teacher") %></h2>
   <ul>
      <% for teacher in @course.teachers %>
		 <li><%= teacher.linkname %>
		 <% if teacher.ltype==1 %>
			[<%= link_to "x",course_path(@course,:by=>"remove_teacher",:teacher=>teacher.link_id),:method=>:delete,:confirm=>t("phrase.are_you_sure") %>] 	 
		 <% end -%>
		 </li>
	  <% end -%>
      <li><%= render ("form_teacher") %></li>
   </ul>    

   <h2><%= t("course.class") %></h2>
   <ul>
      <% for sclass in @course.sclasses %>
		 <li><%= sclass.linkname %>
			[<%= link_to "x",course_path(@course,:by=>"remove_class",:sclass=>sclass.link_id),:method=>:delete,:confirm=>t("phrase.are_you_sure") %>] 	 
		 </li>
	  <% end -%>
      <li><%= render ("form_class") %></li>
   </li></ul>    

<% end -%>

<table class="index">
  <tr>
	<th><%= t('chapter.code')%></th>
	<th><%= t('general.title')%></th>
	<th><%= t('general.desc')%></th>
	<th><%= t('general.admin')%></th>
  </tr>

  <% for chapter in @course.chapters %>
  <tr><td><%= chapter.cpcode %></td>
      <td><%= link_to chapter.title,edit_chapter_path(chapter) %></td>
      <td><%= chapter.description %></td>
      <td align=right>
	  <%= link_to t("general.edit"),edit_chapter_path(student.user_id) %> | 
	  <%= link_to t("general.delete"),chapter_path(chapter),:method=>:delete,:confirm=>t("phrase.are_you_sure") %>
  </td></tr>
  <% end %>
</table>


<%= link_to t('general.back'), root_path %> | 
<%= link_to t('general.edit'), root_path %>