<% content_for :header do -%><%= t("course.admin") %> - <%= @course.title %> <% end -%>

<% content_for :sidebar do -%>
   <h2><%= t("chapter.new") %></h2>
   <ul><li><%= render ("chapters/form") %></li></ul>

   <h2><%= t("course.teacher") %></h2>
   <ul>
      <% for t in @course.teachers %>
		 <li><%= t.name2 %>
			 <%=link_to_dx course_path(@course,:by=>"remove_teacher",:teacher=>t.id2) if t.t_course_aid? %>
		 </li>
	  <% end -%>
      <li><%= render ("form_teacher") %></li>
   </ul>    

   <h2><%= t("course.class") %></h2>
   <ul><li><% sin=""
		 for s1 in @course.sclasses
			sin+=","+s1.id2.to_s %>
			<%= s1.name2 %>
			<%= link_to_dx course_path(@course,:by=>"remove_class",:sclass=>s1.id2) %><br>	 
	     <% end -%>
		 <%= t("class.noselect") if sin=="" %>
	  </li></ul>
   <h2><%= t("class.forselect") %></h2>
   <ul><li><% for s2 in current_user.sclasses
			   unless sin.include?(","+s2.id.to_s) %>
				  <%= link_to s2.name, course_path(@course,:by=>"add_class",:sclass=>s2.id),:method=>:put %><br>
			   <% end -%>
			<% end -%>
   </li></ul>    
<% end -%>

<table class="index">
  <tr>
	<th><%= t('chapter.code')%></th>
	<th><%= t('g.title')%></th>
	<th><%= t('chapter.exam')%></th>
	<th><%= t('chapter.class1')%></th>
	<th><%= t('chapter.class2')%></th>
	<th><%= t('g.admin')%></th>
  </tr>

  <% sclasses=@course.sclasses %>
  <% for chapter in @course.chapters %>
  <% s1="0" %>
  <tr><td><%= chapter.cpcode %></td>
      <td><%= chapter.title %></td>
      <td><% for cexam in chapter.cexams %>
	    <%= link_to cexam.name,edit_cexam_path(cexam) %><br>
	  <% end %> 
      </td>
      <td><% for c1 in chapter.sclasses %>
	      <%  s1+=","+c1.id2.to_s %>
	      <%= link_to c1.name2,tcourse_path(@course,:by=>"course",:sclass=>c1.id2) %> 
	      <%= link_to_dx chapter_path(chapter,:by=>"remove_class",:sclass=>c1.id2) %>
		<br>
	  <% end %> 
      </td>
      <td><% for c2 in sclasses.where(" id2 not in("+s1+")").order("name2") %>
		  <%= link_to c2.name2,chapter_path(chapter,:by=>"add_class",:sclass=>c2.id2),:method=>:put %><br>
		  <% end %> 
	  </td>
      <td align=right>
	  <%= link_to t("g.edit"),edit_chapter_path(chapter) %> | 
	  <%= link_to_d chapter %>
  </td></tr>
  <% end %>
</table>

<%= link_to t('g.back'), courses_path %>