<% content_for :header do -%><%= t("chapter.admin") %> - <%= @chapter.title %> <% end -%>

<% content_for :sidebar do -%>
   <h2><%= t("chapter.admin") %></h2>
   <ul><li><%= link_to t("g.repair") @chapter %></li></ul>

<% end -%>

<table class="index">
  <tr>
	<th><%= t('chapter.code')%></th>
	<th><%= t('g.title')%></th>
	<th><%= t('g.desc')%></th>
	<th><%= t('g.admin')%></th>
  </tr>

  <% for sclass in @course.sclasses %>
  <tr><td><%= sclass.name %></td>
      <td><%= link_to chapter.title,edit_chapter_path(chapter) %></td>
      <td><%= chapter.description %></td>
      <td align=right>
	  <%= link_to t("g.edit"),edit_chapter_path(chapter) %> | 
	  <%= link_to_d chapter_path(chapter) %>
  </td></tr>
  <% end %>
</table>


<%= link_to t('g.back'), root_path %> | 
<%= link_to t('g.edit'), root_path %>