<div data-role="page" class="type-interior">
	<div data-role="header" data-theme="f">
		<h1><%= t("site.s_dashboard") %></h1>
		<%= link_to t('session.log_out'), destroy_user_session_path(:for=>"ipad"),  "data-icon"=>"gear", "class"=>"ui-btn-right" %>
	</div><!-- /header -->

	<div data-role="content">
		<div class="content-primary" id="c1">
		<h2>Home Page</h2>

		</div><!--/content-primary -->		
		
		<div class="content-secondary">
			<div data-role="collapsible" data-collapsed="true" data-theme="b" data-content-theme="d">
					<h3>More in this section</h3>
					
					<ul data-role="listview"  data-theme="c" data-dividertheme="d">
						<li data-role="list-divider">Overview</li>
						<li data-theme="a"><%= link_to t("course.chapter"), ipad_root_path(:show=>"course"),:update =>"cart",:remote=>true %></li>
						<li><a href="../../docs/about/accessibility.html">Accessibility</a></li>
						<li><%= link_to t("g.setting"), ipad_scourses_path(:show=>"setting"),:remote=>true %></li>
					</ul>
			</div>
		</div>		
	</div><!-- /content -->
	
	<div data-role="footer" class="footer-docs" data-theme="c">
			<p><%= configatron.site_name %></p>
	</div>	
	
</div><!-- /page -->