<div data-role="page" id="page_main" class="type-interior" data-url="page_main"> 
	<div data-role="header" data-theme="f">
		<h1><%= t("site.s_dashboard") %></h1>
		<%= link_to t('session.log_out'), destroy_user_session_path(:for=>"ipad"),  "data-icon"=>"gear", "class"=>"ui-btn-right" %>
	</div><!-- /header -->

	<div data-role="content">
		<!--/content-primary -->		
		<div class="content-primary" id="c1">
			<%= render("ipad/scourses/course") %>
		</div>
		
		<!-- /menu -->
		<div class="content-secondary">
			<div data-role="collapsible" data-collapsed="true" data-theme="b" data-content-theme="d">
				<ul data-role="listview"  data-theme="c" data-dividertheme="d">
					<li data-role="list-divider"><%= t("g.start") %></li>
					<li data-theme="a"><%= link_to t("class.schapter"), ipad_scourses_path(:show=>"course"),:remote=>true %></li>
					<li><%= link_to t("class.scourse"), ipad_scourses_path(:show=>"course2"),:remote=>true %></li>
					<li><%= link_to t("g.setting"), ipad_scourses_path(:show=>"setting"),:remote=>true %></li>
				</ul>
			</div>
		</div>		
	</div>
	
	<div data-role="footer" class="footer-docs" data-theme="c">
		<p><%= configatron.site_name %></p>
	</div>		
</div>

<!-- page content -->
<div data-role="page" id="page_class" data-theme="f" data-url="page_class" >
	<!-- title -->
	<div data-role="header" data-position="fixed" id="ptitle2"></div>

	<!-- content-->
	<div data-role="content" id="classroom"  data-theme="f" ></div>

	<!-- footer -->
	<div data-role="footer" class="ui-bar" data-position="fixed" id="pfooter2">

	</div>		
</div>
	