<!-- Start of first page -->
<div data-role="page" id="page_main" class="type-interior">

	<div data-role="header">
		<h1><%= t("site.t_dashboard") %></h1>
		<%= link_to t('session.log_out'), destroy_user_session_path(:for=>"ipad"),  "data-icon"=>"gear", "class"=>"ui-btn-right","data-ajax"=>"false" %>
	</div><!-- /header -->
	
	<div data-role="content" class="ui-content" role="main">
		<!--/content-primary -->		
		<div class="content-primary" id="pcontent1">
			<%= render("ipad/tcourses/course") %>
		</div>
		
		<!-- /menu -->
		<div class="content-secondary">
			<div data-role="collapsible" data-collapsed="true" data-theme="b" data-content-theme="d">
				<ul data-role="listview"  data-theme="c" data-dividertheme="d">
					<li data-role="list-divider"><%= t("g.start") %></li>
					<li data-theme="a"><%= link_to t("course.list"), ipad_tcourses_path(:show=>"course"),:remote=>true %></li>
					<li><%= link_to t("class.list"), ipad_tcourses_path(:show=>"sclass"),:remote=>true %></li>
					<li><%= link_to t("g.setting"), ipad_tcourses_path(:show=>"setting"),:remote=>true %></li>
				</ul>
			</div>
		</div>	
	</div>

	<div data-role="footer">
		<h4><%= configatron.site_name %></h4>
	</div><!-- /footer -->
</div><!-- /page -->

<!-- page content -->
<div data-role="page" id="page2" data-url="page2" data-theme="f" >
	<!-- title -->
	<div data-role="header" id="header2" data-position="fixed" >
		<%= link_to t('g.back'),"#page_main" %>
		<h1 id="ptitle2"></h1>
	</div>

	<!-- content-->
	<div data-role="content" id="pcontent2"  data-theme="f" ></div>

	<!-- footer -->
	<div data-role="footer" class="ui-bar" data-position="fixed" id="pfooter2"></div>		
</div>
