<%
    stitle = @problem.id.nil? ? stitle = t('problem.create'):t('problem.update')
-%>

<%= form_for @problem do |f| %>
<%= f.error_messages %>
<%= hidden_field_tag('cexam_id', @cexam.id) if @cexam %>
<table >
    <%= cell(t("problem.code"),    (f.text_field :pcode))%>
    <%= cell(t("problem.ctype"),   (f.select(:ctype, t("course.types"))+"  "+f.select(:ptype, t("problem.types")))) %>
    <%= cell(t("problem.content"), (f.text_area :content,:rows=>3,:cols=>24))%>
    <%= cell(t("problem.answer"),  (f.text_area :answer,:rows=>3,:cols=>24))%>

    <%= cell("", (submit_tag stitle))%>
</table>
<% end %>
