<% content_for :header do -%>
 	<%= t('.title', :login => @user.login) %></em>
<% end -%>

<% content_for :sidebar do -%>

<h2><%= t('.status', :status => @user.state.to_s.humanize) %></h2>	

<ul>
	<% if @user.pending? -%>
		<li><%= link_to t('admin.users.options.activate'), operate_admin_user_url(@user,:by=>"active"), :method => :put %></li>
		<li><%= link_to t('admin.users.options.suspend'),  operate_admin_user_url(@user,:by=>"suspend"),:method => :put %></li>
		<li><%= link_to t('admin.users.options.delete'), admin_user_url(@user), :method => :delete %></li>
	<% end -%>
	
	<% if @user.suspended? -%>
		<li><%= link_to t('admin.users.options.unsuspend'),operate_admin_user_url(@user,:by=>"unsuspend"), :method => :put %></li>
	<% end -%>

	<% if @user.active? -%>
		<li><%= link_to t('admin.users.options.suspend'), operate_admin_user_url(@user,:by=>"suspend"), :method => :put %></li>
		<li><%= link_to t('admin.users.options.delete'), admin_user_url(@user), :method => :delete, :confirm => t("phrase.are_you_sure")  %></li>
	<% end -%>
	
	<% if @user.deleted? -%>
		<li><%= link_to t('admin.users.purge'),   operate_admin_user_url(@user,:by=>"purge"),:method => :put, :confirm => t("phrase.are_you_sure") %></li>
		<li><%= link_to t('admin.users.recover'), operate_admin_user_url(@user,:by=>"recovery") ,:method =>:put %></li>
	<% end -%>
</ul>	
	<% if !@user.deleted? -%>
		<h2><%= t('admin.users.options.roles') %></h2>	
		<ul>
			<% Role.all.each do |x| -%>
			<li>
			<%= link_to (@user.has_real_role?(x.name.underscore.to_sym) ? t('.take', :role => x.name.humanize.gsub(/-/, ' ')) : t('.grant', :role => x.name.humanize.gsub(/-/, ' '))), toggle_role_admin_user_path(@user, x.name), :method => :post %>
			</li>
			<% end -%>
		</ul>
	<% end -%>
<% end -%>

<table class="overview">
  <% if @user.login.present? %>
  	<%= cell t('activerecord.attributes.user.login'), "#{in_place_editor_field :user, 'login'}" %>
  <% else %>
    <%= cell t('activerecord.attributes.user.language'), h(@user.site_name) %>
  <% end %>
	<%= cell "ID", h(@user.id) %>
	<%= cell t('activerecord.attributes.user.name'), h(@user.name) %>
	<%= cell t('activerecord.attributes.user.language'), h(@user.language) %>
	<%= cell t('activerecord.attributes.user.roles'), @user.roles.map{|x| x.name.humanize }.join(", ") %>
	<%= cell t('activerecord.attributes.user.email'), "#{in_place_editor_field :user, 'email'}" %>
	
	<%= cell_separator %>
	
	<%= cell t('activerecord.attributes.user.created_at'), l(@user.created_at, :format => :long) %>
	<%= cell t('activerecord.attributes.user.updated_at'), l(@user.updated_at, :format => :long) %>
</table>

<%= link_to t('general.edit'), edit_admin_user_path(@user) %> |
<%= link_to t('general.back'), admin_users_path %>
